body {
    display: grid;
    grid-template-columns: 250px 4fr;
    grid-template-rows: 1fr 6fr;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

#header {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.userInfo {
    display: grid;
    grid-template-columns: 30px 30px 30px;
}

#sidebar {
    display:grid;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    grid-template-rows: 6rem 22rem 9rem;
    background-color: #0ea5e9;
    color: white;
    padding-left: 2rem;
}

.branding {
    display: grid;
    grid-template-columns: 50px 300px;
    align-items: center;
}

.primary {
    display: grid;
    grid-template-rows: repeat(6, 50px);
}

.secondary {
    display: grid;
    grid-template-rows: repeat(2, 50px)
}

.sideItem {
    display: grid;
    grid-template-columns: 50px 300px;
    align-items: center;
}

#main-content {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.card {
    height: 200px;
}

.announcementsContainer {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.trendingContainer {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.trendingProfile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.trendingPFP {
    grid-row: 1 / 3;
}

a {
    text-decoration: none;
    color: white;
}

.icon {
    filter: invert(95%) sepia(100%) saturate(21%) hue-rotate(334deg) brightness(106%) contrast(107%);
}